* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 0%;
    width: 0%;
}

main {
    width: 100%;
    display: flex;
    flex-direction: column;


    section {
        width: 100%;
        height: 20%;
        display: flex;
        flex-direction: column;
        padding: 1rem;

        .top{
            width: 100%;

            img{
                width: 100%;
            }
        }
    }

}
