@mixin button-style ($bg-color) {
    padding: 20px 80px;
    background-color:$bg-color;
    color: white;
    border: none;
    border-radius: 7px;
    outline: none;
    cursor: pointer;
    font-size: 15px;

}