@mixin button-style ($bg-color:blue,$text-color:white,$text-size:18px) {
    padding: 20px 80px;
    background-color:$bg-color;
    color:$text-color;
    border: none;
    border-radius: 7px;
    outline: none;
    cursor: pointer;
    font-size: $text-size;

}