* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}

main {
    height: 100%;
    width: 100%;
    display: flex;
    gap: 5px;

    section {
        background-size: cover;
        background-position: center;
        height: 100%;
        flex-grow: 1;
        transition: all 0.7s cubic-bezier(0.19, 1, 0.22, 1);
        cursor: pointer;

    }

    section:hover {
        flex-grow: 2;
    }

    section:nth-child(1) {
        background-image: url(./a.jpg);
     
    }

    section:nth-child(2) {
        background-image: url(./thor1.jpg);
      
    }

    section:nth-child(3) {
        background-image: url(./iron.jpg);
     
    }

    section:nth-child(4) {
        background-image: url(./hulk.jpg);
      
    }

    section:nth-child(5) {
        background-image: url(./batman.jpg);
    
    }
}