@import '-button.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}
.blue{
    @include button-style(blue,white,18px);
}
.red{
    @include button-style(red,black,20px);
}