* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}

@mixin flexcenter() {
    display: flex;
    justify-content: center;
    align-items: center;
}
 @mixin button-style($bg-color){
        padding: 20px 80px;
        background-color: $bg-color;
        color: white;
        border: none;
        border-radius: 7px;

        outline: none;
        cursor: pointer;  
        font-size: 15px;
    }

main {
    height: 100%;
    width: 100%;
    background-color: black;
    @include flexcenter();



    section {
        height: 50%;
        width: 50%;
        background-color: rgb(241, 241, 255);
        @include flexcenter();

        main section h1 {
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        }
        .blue{
            @include button-style(blue);
        }
        .red{
            @include button-style(red);
        }
    }
}