* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}

main {
    height: 100%;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    width: 550px;
    background-color: white;
    border: none;
    border-radius: 12px;
    padding: 30px;
}

.outer {
    height: 20px;
    width: 100%;
    border-radius: 50px;
    background-color: rgb(161, 161, 161);
}

.inner {

    width: 0%;
    height: 100%;
    border-radius: 50px;
    background-color: green;
}

.bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.bottom h2 {
    font-size: 60px;
}

.bottom button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 600;
    background-color: green;
    color: white;
    cursor: pointer;
}

.card p {
    font-weight: 500;
    text-align: center;
    font-size: 20px;
    margin-bottom: 40px;
    text-transform: capitalize;
}

.card p span {
    color: blue;
    font-weight: 700;
}

.card button:active {
    scale: 0.95;
}